@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  background-color: #F2F2F2;
  color: #333136;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spartan{
  font-family: 'League Spartan';
}

.bg-img{
  background-image: url("./assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
}
@media (min-width: 1024px){
  .bg-img{
    background-position-x: right;
  }

}

.bg-hero{
    background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
   background-position-x: left;
   background-position-y: center;
}
@media (min-width: 640px){
    .bg-hero{
      background-position-x:right ;
    }
    
  } 

.bg-web{
    background-repeat: no-repeat;
    background-image: url("./assets/home/desktop/image-web-design-small.jpg");
    background-size: cover;
    background-position: center;

}

.bg-app{
  background-image: url("./assets/home/desktop/image-app-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-graph{
  background-image: url("./assets/home/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-about{
  background-image: url("./assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y:center ;
  background-size: contain; 
  
}
@media (min-width:640px){
  .bg-about{
    background-image: url("./assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-position-x: left;
    background-position-y:bottom;
    background-size:auto;
  }
}

.bg-talent{
  background-image: url("./assets/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  background-position-x:left ;
  background-position-y: bottom;
  
}
@media (min-width:640px){
  .bg-talent{
    background-image: url("./assets/shared/desktop/bg-pattern-two-circles.svg");
    background-position-x:center ;
    background-position-y:bottom ;
  }
}